html {
	
	scroll-behavior:smooth;
	
}

body {
	
	background-color:#1A1A19;
	overflow-x: hidden;
	
}

textarea:focus, input:focus{
    
	outline: none;
	
}

#imagem {

	width:101.5%;
	margin-left:-7px;
	margin-top:-8px;
	background-image: url('images//ground.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;

}

#topo {
	
	float:top;
	height:50px;
	padding-top:12px;
	padding-left:10px;
	
}

h1 {
	
	font-family:Montserrat;
	font-style:bold;
	color:#FFFFFF;
	
}

p {
	
	font-family:Bebas Neue;
	color:#FFFFFF;
	
}

#Menu {
	
	height:50px;
	width:50px;
	
}

#MaisOp {
	
	float:right;
	margin-top:-75px;
	margin-right:0px;
	border:solid 0px;
	background-color:#1A1A19;
	height:68.5px;
	width:70px;
	transition-timing-function: ease-in-out;
	transition:0.3s;
	
}

#contato {
	
	font-family:Montserrat;
	float:right;
	margin-top:-75px;
	margin-right:70px;
	border:solid 0px;
	background-color: transparent;
	color:#FFFFFF;
	height:68.5px;
	width:100px;
	transition-timing-function: ease-in-out;
	transition:0.3s;
	
}

#contato:hover, #MaisOp:hover{
	
	text-decoration: underline 1px;
	
}

#linha {
	
	height:2px;
	background-color:#859F3D;
	margin-top:10px;
	
}

#titulo {
	
	color:#FFFFFF;
	font-family:Cinzel;
	text-align: center;
	font-size:64px;
	margin-top:-150px;
	
}

#planejar {
	
	color:#FFFFFF;
	font-family:Montserrat;
	font-weight:bold;
	font-size:20px;
	width:150px;
	height:50px;
	border:solid 0px;
	border-radius:5px;
	background-color:#859F3D;
	margin-top:20px;
	margin-left:43%;
	float:middle;
	opacity:0.8;
	
	
}

#meio {

	height:410px;
	width:101.5%;
	margin-left:-7px;
	margin-top:300px;

	
}

#Uicard1 {
	
	height:400px;
	background-color:#1A1A19;
	
}

#anatom1 {

	float:left;
	width:250px;
	height:350px;
	padding-top:65px;
	padding-left:130px;

}

#intro {
	
	float:right;
	color:#FFFFFF;
	font-family:Manrope;
	text-align: justify;
	line-height:1.6;
	font-size:16px;
	padding-left:450px;
	padding-right:130px;
	margin-top:-355px;
	
	
}

#linha {
	
	float:top;
	margin-top:85px;
	height:1px;
	background-color:#859F3D;
	
}

#Uicard2 {
	
	padding-top:65px;
	height:400px;
	background-color:#1A1A19;
	
}

#anatom2 {

	float:right;
	width:250px;
	height:325px;
	padding-top:65px;
	padding-right:130px;
	margin-top:-410px;

}

#linha2 {
	
	float:top;
	margin-top:10px;
	height:1px;
	background-color:#859F3D;
	
}

#tipos {
	
	float:left;
	color:#FFFFFF;
	font-family:Manrope;
	text-align: justify;
	line-height:1.6;
	font-size:16px;
	padding-left:450px;
	padding-right:430px;
	margin-left:-320px;
	
}



#Pergunta1 {
	
	margin-top:70px;
	
}

#Pergunta1 {
	
	font-size:24px;
	margin-left:130px;
	
}

#Pergunta2 {

	font-size:24px;
	margin-left:130px;
	
}

#Pergunta3 {

	font-size:24px;
	margin-left:130px;
	
}

#Refeicoes, #Proteinas, #Peso {
	
	
	background:rgb(0,0,0,0);
	border:solid 1px #859F3D;
	border-radius:5px;
	margin-top:-60px;
	margin-left:360px;
	height:40px;
	width:150px;
	
}


option { 

    background-color: #2F3B0F;
}

input[type="number"]
{
	color:#FFFFFF;
	font-family:Bebas Neue;	
	font-size:16px;

}

#calcular {
	
	color:#FFFFFF;
	font-family:Montserrat;
	font-weight:bold;
	font-size:20px;
	width:150px;
	height:50px;
	border:solid 0px;
	border-radius:5px;
	background-color:#859F3D;
	margin-top:50px;
	margin-left:360px;
	opacity:0.8;
	
}

#calcular:hover, #planejar:hover {
	
	transition-delay:0.5;
	opacity:1;
	
}

#calcular:hover, #planejar:hover {
	
	transition: 0.3s;
	transition-timing-function: ease-in-out;
	
}

#Calculadora {
	
	padding-top:50px;
	padding-bottom:120px;
	height:370px;
	
}

#resultado {
	
	display:none;
	float:top;
	margin-top:-240px;
	margin-left:800px;
	position: relative;
	animation-name: example;
	animation-duration: 1s;
	animation-iteration-count:1;
	animation-timing-function: ease-in-out;
	
}

@keyframes example {
	
  0%   {opacity:0.00}
  5%   {opacity:0.05}
  10%   {opacity:0.10}
  15%   {opacity:0.15}
  20%   {opacity:0.20}
  25%   {opacity:0.25}
  30%   {opacity:0.30}
  35%   {opacity:0.35}
  40%   {opacity:0.40}
  45%   {opacity:0.45}
  50%   {opacity:0.50}
  55%   {opacity:0.55}
  60%   {opacity:0.60}
  65%   {opacity:0.65}
  70%   {opacity:0.70}
  75%   {opacity:0.75}
  80%   {opacity:0.80}
  85%   {opacity:0.85}
  90%   {opacity:0.90}
  95%   {opacity:0.9500}
  100%   {opacity:1.00}


}

#demo {
	
	color:#FFFFFF;
	font-size:80px;
	margin-top:-310px;
	margin-left:-65px;
	
}

#demo::after { 
  content: "g";
}



